<!DOCTYPE html>
<html lang="tr" xmlns:th="http://thymeleaf.org/">
<head>
    <title>Yanıt Yaz</title>
</head>
<body>
<form th:action="@{/comment}" th:object="${yorum}" method="post">
    <p><label>Kullanıcı:</label> <input type="text" th:field="*{user}" /></p>
    <p><label>Göndereceniz mesaj ID: <input type="text" readonly="readonly" th:field="*{messageId}" /> </label></p>
    <p><label>Mesaj: </label> <textarea th:field="*{message}"></textarea> </p>
    <p><input type="submit" /> </p>
</form>
</body>
</html>